<!-- Cart page header -->
<ion-header>
   <ion-toolbar>
      <ion-buttons slot="start">
         <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Cart</ion-title>
   </ion-toolbar>
</ion-header>

<!-- Cart page content -->
<ion-content>
   <div *ngIf="cart.length>0">
      <ion-row>
         <ion-col size="4" *ngFor="let p of cart;let i=index">


            <ion-card class="product-card">
               <!-- Product image -->
               <img [src]="getImageUrl(p.image)" />
               <!-- Cart products -->
               <ion-card-header>
                  <ion-card-title class="card-title">{{p.name}}</ion-card-title>
               </ion-card-header>
               <ion-card-content>
                  <ion-row>
                     <ion-col size="5" align-self-center>
                        Rs. {{p.price}}
                     </ion-col>
                     <ion-col size="7">
                        <ion-row>
                           <ion-col no-padding align-self-center size="2">
                              <ion-button (click)="decrementCartItem(p,i)" class="btn-minus" color="light">-
                              </ion-button>
                           </ion-col>

                           <ion-col no-padding>
                              <ion-button class="btn-count" expand="full">{{p.count}}
                              </ion-button>
                           </ion-col>

                           <ion-col no-padding size="2">
                              <ion-button (click)="incrementCartItem(p)" class="btn-plus" color="light">+
                              </ion-button>
                           </ion-col>
                        </ion-row>
                     </ion-col>
                  </ion-row>
               </ion-card-content>
            </ion-card>
         </ion-col>
      </ion-row>
   </div>
   <div *ngIf="cart.length===0" class="empty-cart">
      <ion-row>
         <ion-col text-center>
            <ion-icon name="cart" class="ic-cart"></ion-icon>
         </ion-col>
      </ion-row>
      <ion-row>
         <ion-col text-center>
            Your Cart is empty.
         </ion-col>
      </ion-row>
   </div>
</ion-content>
<ion-footer *ngIf="cart.length>0">
   <ion-button expand="block" color="light" no-margin>Total Price: {{totalPrice}}</ion-button>
</ion-footer>