/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

body {
   font-family: 'Roboto', sans-serif;
}

// global page header style
ion-header {
   border-bottom: 1px solid #eee;
}

.footer-md:before,
.header-md:after {
   height: 0;
}

// global page content style
ion-content {

   // global product card style
   .product-card {
      box-shadow: none;
      border: 1px solid #eee;

      // ion-card-header and ion-card-content global style
      ion-card-header,
      ion-card-content {
         padding: 5px;
      }

      // global button style
      .btn-minus,
      .btn-plus,
      .btn-add-to-cart,
      .btn-count {
         --box-shadow: none;
      }

      // count button style of home and cart page
      .btn-count {
         width: 100%;
         --background: none;
         --border-color: #eee;
         --border-style: solid;
         --border-width: 1px;
         --color: black;
      }
   }
}